<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI_iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CI_macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EssentialFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EssentialFeedCacheIntergrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>412771AE28EC411400C7DD30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>412771B628EC411500C7DD30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41EA7BB22991CB9E00C3AA2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFF09E192B560E080011BF18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFF98D432B62C6480064FA4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFF98D4C2B62C6490064FA4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
